body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
